---
import Layout from "../layouts/Layout.astro";
import { getRecipesApi } from "../components/APIFunctions.js";
import Improvement from "../components/Improvement.svelte";
import Search from "../components/Search.svelte";

let recipes = [];

recipes = await getRecipesApi();
---

<Layout title="Alle oppskrifter" />
<h1><a href="/newRecipe/"> Legg til ny oppskrift</a></h1>
<h1>Alle oppskrifter</h1>

<ul>
	{
		recipes.map((recipe) => (
			<li>
				<a href={"/recipe/" + recipe._id}>{recipe.recipeName}</a>
			</li>
		))
	}
</ul>
<Improvement client:load />
<div style="margin-bottom: 20px;"></div>
<Search client:load />
