---
import Layout from "../../layouts/Layout.astro";
import ViewList from "../../components/edit/ViewList.svelte";
import ViewOne from "../../components/edit/ViewOne.svelte";
import Manipulation from "../../components/edit/Manipulation.svelte";

const { id } = Astro.params;
---

<Layout title={"Rediger oppskrift"}>
    <div class="content">
        <ViewList title="Ingredienser" element="ingredients" client:load />
        <ViewList title="Fremgangsmåte" element="steps" client:load />
        <ViewList title="Notater" element="notes" client:load />
        <ViewOne title="Opphav" element="origin" client:load />
        <ViewOne title="Name" element="recipeName" client:load />
        <ViewOne title="Porsjoner" element="portion" client:load />
        <ViewOne title="Kategori" element="category" client:load />
        <ViewOne title="Region" element="region" client:load />
        <Manipulation id={id} client:load locationn="editRecipe" />
    </div>
</Layout>

<style>
    .content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-template-areas:
            "ingredient steps notes"
            "origin recipeName portion"
            "category regionn save";
    }

    .ingredients {
        grid-area: ingredient;
    }

    .steps {
        grid-area: steps;
    }

    .notes {
        grid-area: notes;
    }

    .origin {
        grid-area: origin;
    }

    .recipeName {
        grid-area: recipeName;
    }

    .portion {
        grid-area: portion;
    }

    .category {
        grid-area: category;
    }

    .region {
        grid-area: regionn;
    }

    .save {
        grid-area: save;
    }

    .textLeft {
        text-align: left;
    }

    ul {
        list-style: none;
        padding: 0;
    }
    @media (max-width: 768px) {
        .content {
            grid-template-columns: 1fr;
            grid-template-areas:
                "ingredient"
                "steps"
                "notes"
                "origin"
                "recipeName"
                "portion"
                "category"
                "regionn"
                "save";
        }
    }
</style>
